@import 'nord.css';
:root {
    --card-width: 244px;
    --card-height: 340px;
    --zone-padding: 6px;
    --zone-border-width: 4px;
}

html,
body,
#root {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--nord0);
    color: var(--nord6);
}

h1,
h6 {
    text-transform: uppercase;
}

h1 {
    font-size: 1.5em;
    color: var(--nord4);
}

h6 {
    font-size: 0.8em;
}

/* Animations */
@keyframes wiggle {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

.wiggle {
    animation: wiggle 0.2s;
    animation-iteration-count: 1.5;
}

@keyframes verticalWave {
    0% {
        transform: translateY(-25%);
    }
    50% {
        transform: translateY(25%);
    }
    100% {
        transform: translateY(-25%);
    }
}

.verticalWave {
    animation: verticalWave 1s ease-in-out;
    animation-iteration-count: infinite;
}
