@import 'nord.css';
:root {
    --card-width: 244px;
    --card-height: 340px;
    --zone-padding: 6px;
    --zone-border-width: 4px;
    --middle-gray: #9a9fad;
}

html,
body,
#root {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--nord0);
    color: var(--nord6);
}

input,
select {
    appearance: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    overflow-y: auto;
}

button {
    color: var(--nord4);
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: var(--nord1);
}

::-webkit-scrollbar-thumb {
    background: var(--middle-gray);
}

/* Animations */
@keyframes wiggle {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

.wiggle {
    animation: wiggle 0.2s;
    animation-iteration-count: 1.5;
}
