@import "nord.css";
:root {
    --card-width: 244px;
    --card-height: 340px;
    --zone-padding: 6px;
    --zone-border-width: 4px;
    --middle-gray: #9a9fad;
}

html, body, #root {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--nord0);
    color: var(--nord6);
}

input, select {
    appearance: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: var(--nord1);
}

::-webkit-scrollbar-thumb {
    background: var(--middle-gray);
}
