.card-drag-layer {
    width: var(--card-width);
    height: var(--card-height);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.card-position-layer {
    width: inherit;
    height: inherit;
    display: inherit;
    position: inherit;
}

.card {
    width: inherit;
    height: inherit;
    display: inherit;
    position: inherit;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 4.75% 3.5%;
    border-bottom-right-radius: 4.75% 3.5%;
    border-top-left-radius: 4.75% 3.5%;
    border-top-right-radius: 4.75% 3.5%;
    background-size: contain;
    background-blend-mode: darken;
    transition: background-color 0.2s, transform 0.15s;
    pointer-events: all;
}

.card.loading, 
.card-drag-layer:not(.react-draggable-dragging) .card:hover, 
.card-drag-layer:not(.react-draggable-dragging) .card:not(.enable-preview):hover .card-face
{
    background-color: rgba(0, 0, 0, 0.5);
}

.card.tapped {
    transform: rotate(90deg);
}

.card.foil .card-face::after {
    position: absolute;
    content: "";
    border-radius: 4.75% / 3.5%;
    background-image: linear-gradient(
        to bottom, 
        transparent 0%, 
        rgba(255, 255, 255, 0.2) 50%, 
        transparent 100%
    );
    top: -90%;
    left: -50%;
    right: -50%;
    height: 150px;
    transform: rotate(-45deg);
    animation-name: shine;
    animation-timing-function: ease-out;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

.card.tapped.foil .card-face::after {
    transform: rotate(45deg);
    animation-direction: reverse;
}

.card .card-face {
    width: inherit;
    height: inherit;
    display: inherit;
    position: inherit;
    background-image: inherit;
    background-size: inherit;
    background-blend-mode: inherit;
    border-radius: inherit;
    overflow: hidden;
    transition: background-color 0.2s, transform 0.15s;
    pointer-events: none;
}

.stack-zone .card-position-layer {
    transition: transform 0.1s;
    animation: fadeIn 0.15s;
}

.stack-zone:not(.show-top-only) .card .card-face {
    animation: slideIn 0.15s;
}

.card-drag-layer:not(.react-draggable-dragging) .card.enable-preview:hover .card-face {
    transform: translate(0, -100%);
}

.stack-zone.vertical .card-drag-layer:not(.react-draggable-dragging) .card.enable-preview:hover .card-face {
    transform: translate(-100%, 0);
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    border: 8px solid var(--nord4);
    border-top: 8px solid var(--nord10);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: fadeIn 0.2s, spin 1s linear infinite;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@keyframes shine {
    0% {
        top: -90%
    }
    100% {
        top: 150%
    }
}

@keyframes slideIn {
    from {
        transform: translate(0, -10%);
    }
}
