.gameLayout {
    display: flex;
    flex-flow: column;
    row-gap: 6px;
    height: calc(100% - 56px);
    margin: 6px;
}

.zone {
    background-color: var(--nord1);
    padding: 10px;
    border-radius: 3px;
    font-family: 'Bahnschrift Condensed', 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    position: relative;
    writing-mode: vertical-lr;
}

.zone.highlight {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
}

.toolbar {
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.5);
}

.bottomPanel {
    display: flex;
    column-gap: 6px;
}

.zone:empty::after {
    content: attr(data-name);
    color: var(--nord3);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#hand {
    flex: 1;
    height: var(--card-height);
}

#library {
    width: var(--card-width);
    height: var(--card-height);
}

#graveyard {
    width: var(--card-width);
}

.topPanel {
    display: flex;
    column-gap: 6px;
    flex: 1;
}

#battlefield {
    flex: 1;
}
