@import "../nord.css";

.card {
    display: inline-block;
    transition: background-color 0.5s ease;
    width: 244px; 
    height: 340px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 4.75% 3.5%;
    border-bottom-right-radius: 4.75% 3.5%;
    border-top-left-radius: 4.75% 3.5%;
    border-top-right-radius: 4.75% 3.5%;
    background-size: contain;
    background-blend-mode: darken;
    position: relative;
}

.card.loading {
    background-color: rgba(0, 0, 0, 0.5);
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    border: 8px solid var(--nord4);
    border-top: 8px solid var(--nord10);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 1s linear infinite;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}