.gameLayout {
    display: flex;
    flex-flow: column;
    row-gap: 6px;
    height: calc(100% - 56px);
    margin: 6px;
}

.zone {
    background-color: var(--nord1);
    padding: 10px;
    border-radius: 3px;
    font-family: 'Bahnschrift Condensed', 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    transition: background-color 0.2s;
}

.darken {
    background-color: rgba(0, 0, 0, 0.5);
}

.topPanel {
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.5);
}

.bottomPanel {
    display: flex;
    column-gap: 6px;
}

#hand {
    flex: 1;
    height: 340px;
    position: relative;
}

#hand:empty::before {
    content: "HAND";
    color: var(--nord3);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#library {
    width: 244px;
    height: 340px;
}

#library:empty::before {
    content: "LIBRARY";
    color: var(--nord3);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#battlefield {
    flex: 1;
}

#battlefield:empty::before {
    content: "BATTLEFIELD";
    color: var(--nord3);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
