@import "nord.css";

html, body, #root, #root>div {
    height: 100%;
    overflow-y: hidden;
}

body {
    background-color: var(--nord0);
    color: var(--nord6);
}

.gutter {
    background-color: var(--nord1);
    padding: 10px;
    border-radius: 3px;
    font-family: 'Bahnschrift Condensed', 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
}

.topPanel {
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.5);
}
