@import "nord.css";

:root {
    --card-width: 244px;
    --card-height: 340px;
    --zone-padding: 6px;
    --zone-border-width: 4px;
}

html, body, #root {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--nord0);
    color: var(--nord6);
}
