@import "nord.css";

body {
    background-color: var(--nord0);
    color: var(--nord6);
}

.gutter {
    background-color: var(--nord1);
    padding: 10px;
    border-radius: 3px;
}

.topPanel {
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.5);
}
