.gameLayout {
    display: flex;
    flex-flow: column;
    height: calc(100% - 6px);
    margin: 3px;
}
 
.pane {
    min-width: var(--card-width);
    min-height: var(--card-height);
    background-color: var(--nord1);
    padding: var(--zone-padding);
    border: var(--zone-border-width) solid transparent;
    box-shadow: 0 0 0 var(--zone-border-width) transparent;
    border-radius: 3px;
    position: relative;
    margin: 3px;
}

.zone {
    font-family: 'Bahnschrift Condensed', 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    writing-mode: vertical-lr;
}

.zone.highlight {
    box-shadow: 0 0 0 var(--zone-border-width) var(--nord3);
    transition: box-shadow 0.15s;
}

.bottomPanel {
    display: flex;
}

.zone::after {
    content: attr(data-name);
    color: var(--nord3);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#hand, #battlefield {
    flex: 1;
}

#graveyard, #exile, #library {
    width: var(--card-width);
}

#lefter, #command {
    width: calc(var(--card-width) * 1.5);
}

.topPanel {
    display: flex;
    flex: 1;
}

.heading {
    font-weight: bold;
    font-size: 20px;
    color: var(--nord13);
    margin: 6px 6px 16px 6px;
}
