.heading {
    font-weight: bold;
    font-size: 20px;
    color: var(--nord13);
    margin: 6px 6px 16px 6px;
}

.control {
    font-size: 15px;
    background-color: var(--nord0);
    color: var(--nord6);
    caret-color: var(--nord4);
}

.outline {
    border-radius: 2px;
    border: transparent solid 1px;
    transition: border-color 0.15s;
}

.outline:hover {
    border-color: var(--middle-gray);
}

.outline:focus,
.outline.focused {
    border-color: var(--nord8);
}

.textfield {
    padding: 10px 42px 10px 10px;
}

.add-icon {
    background-image: url('../../assets/add.svg');
}

.remove-icon {
    background-image: url('../../assets/remove.svg');
}

.textfield-button {
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 36px;
    height: 36px;
    border: none;
    outline: none;
    padding: 0;
    border-radius: 2px;
    transition: opacity 0.25s, background-color 0.5s;
}

.textfield-button:disabled {
    opacity: 0.4;
}

.textfield-button:not(:disabled):hover {
    background-color: var(--nord3);
}

.select {
    width: 100%;
    color: var(--nord6);
    overflow-y: scroll;
}

.select > option {
    padding: 10px;
    border-radius: 2px;
    transition: background-color 0.2s;
}

.select > option:hover {
    background-color: var(--nord2);
}
